@tailwind base;
@tailwind components;
@tailwind utilities;

/* إضافات التصميم الخاصة بك */
@layer utilities {
  .text-outline {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .text-outline-white {
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
  }
  .shadow-hard {
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
  }
  .shadow-hard-sm {
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
  }
  
  /* إخفاء شريط التمرير */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
